<div class="slider" style="width:600px;" >
    <div style="width:400px; float: left;" >
        <div>
            <div style="float:left; width: 26% ">
                <button class="btn btn-primary btn-mini" ng-disabled="isPlayDisabled" ng-click="play()"><i class="icon-play icon-white"></i></button>
                <button class="btn btn-primary btn-mini" ng-disabled="isPauseDisabled" ng-click="pause(true)"><i class="icon-pause icon-white"></i></button>
                <button class="btn btn-primary btn-mini" ng-disabled="isStopDisabled" ng-click="stop()"><i class="icon-stop icon-white"></i></button>
            </div>
            <div>
                <div id="rangeslider" style="width:30%; float: left; " ng-model="slider">
                    <input />
                    <input />
                </div>
            </div>
            <div style="float: right; width:40%; margin-top: 3px; ">
                <div><label ng-bind="position"></label></div>
            </div>
        </div>
        <div>
            <div><label ng-bind="filename"></label></div>
        </div>
        <div>
            <div id="mediaPlayer"></div>
        </div>
    </div>

    <div>
        <button class="btn btn-info" ng-disabled="!isBookmarkSet">save</button>
        <a href="#">cancel</a>
    </div>

</div>
